* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: rgba(181, 181, 181, 0.116);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbarItem {
    padding: 2rem;
    font-size: 20px;

    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

.navbarItem:hover, a:hover {
    color:rgba(11, 161, 184, 0.683) 
}

.mainSection {
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: row;
}

.photo {
    width: 20rem;
    height: 20rem;
    border-radius: 15px;
    border: 1px solid black;
}

.photo:nth-child(n+2) {
    margin-top: -18rem;
}

#photo_two {
    transform: rotate(-15deg);
}

#photo_three {
    transform: rotate(-30deg);
}

#photo_four {
    transform: rotate(-45deg);
}

.photoContainer {
    max-width: fit-content;
    padding: 2rem;
    width: 30%;
    margin-left: 5rem;
}

.container {
    padding: 2rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    
    height: auto;
    width: 70%;
    align-items: stretch;
}

.sectionTitle {
    max-height: 0.2rem;
}

.textSection {
    max-height: min-content;
    margin-top: 5rem;
}

.footer {
    height: 10vh;
    align-self: flex-end;
    margin: auto;
}